body {
    background-color: #c1c1c1;
}

.welcome-img {
    width: 100%;
    height: 700px;
}

.welcome-container {
    padding: 0;
    width: 100%;
    text-align: center;
}

.player-container {
    padding-top: 80px;
    padding-bottom: 150px;
    text-align: center;
}

.player-inside {
    height: inherit;
    position: relative;
    width: 100%;
}

#musicplayer {
    border: 2px solid #1162b2;
    border-radius: 2px;
    background-color: #292e33;
    height: 700px;
    padding: 0;
}

.beatstoretext {
    font-size: 46px;
    color: #1162b2;
    padding: 20px 20px;
}

#cart-total {
    display: inline;
    font-size: 1.4em;
    color: #1182b2;
    padding-right: 10px;
}

.glyphicon-shopping-cart {
    color: #1182b2;
    display: inline;
    padding: 0 5px;
}

.player-header {
    background-color: #444444;
    padding: 12px 0;
}

#player-buynow {
    display: inline;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 10px;
}

#player-buynow:focus {
    outline: 0;
}

#player-buynow:hover {
    background-color: #1162b2;
}

#player-buynow:active {
    box-shadow: 0 0 #113292;
    transform: translateY(2px);
}

.player-header-container {
    padding-left: 190px;
    width: 55%;
}

.player-controls {
    width:inherit;
    position: absolute;
    bottom: 4px;
    left: 15px;
    right: 0;
    background-color: #444444;
    border: 1px solid #515151;
    height: 50px;
}

.player-control {
    color: #c1c1c1;
    padding: 5px 10px;
}

#play-button {
    padding-top: 3px;
    font-size: 1.3em;
    cursor: pointer;
}

.player-buttons {
    text-align: left;
    padding-left: 10px;
    height: 100%;
    padding-top: 10px;
}

.player-body {
    height: 645px;
}

.controls-container {
    position: relative;
}

#genres-header {
    margin-bottom: 0;
    color: #c1c1c1;
    border-bottom: solid 1px #515151;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0;
}

.sidebar-genre {
    color: #c1c1c1;
    border-bottom: solid 1px #515151;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

.sidebar-genre-text {
    padding-top: 7px;
}

.player-sidebar {
    border-right: solid 4px #414141;
    height: 620px;
    box-shadow: 0 2px;
}


.playerbody-song:not(.selected-song):hover {
    background: #414141;
}

.selected-song {
    background: #515151;
}

.selected-song p, .selected-song h3 {
    font-weight: bold;
}

.col-md-10 > .player-body-song-image {
    width: 25px;
    height: 25px;
    border: 1px solid #515151;
    padding: 0;
}

.glyphicon-plus, .glyphicon-minus, .glyphicon-remove {
    color: #818181;
    padding-top: 13px;
    padding-left: 15px;
}

.glyphicon-remove {
    color: #db5365;
}

.glyphicon-plus:hover,.glyphicon-minus:hover {
    color: #c1c1c1;
}

.glyphicon-remove:hover {
    color: #292e33;
}

.glyphicon-remove {
    cursor: pointer;
}

.player-body-song-info {
    color: #818181;
    display: inline-block;
    padding-left: 5px;
    height: 100%;
    margin: 0;
}

.player-body-song-title {
    font-size: 1.1em;
}

.player-body-song-info-container {
    padding-left: 10px;
    display: inline-block;
    width: 92%;
}

.player-body-song-length {
    padding-left: 30px;
}

.player-body-song-length, .player-body-song-owner {
    float: right;
}

.player-body-song-left {
    padding: 10px;
}

#playerbody-song-proto {
    display: none;
}

.playerbody-song {
    margin: 0;
    text-align: left;
    width: 100%;
}

#player-main-body {
    padding: 0;
    height: 593px;
    max-height: 593px;
    overflow: auto;
}

.playerbody-song:hover {
    cursor: pointer;
}

#player-currentsong {
    display: none;
}

.player-currentsong-info {
    color: #818181;
    display: inline-block;
    height: 100%;
    margin: 0;
}

.player-currentsong-title {
    font-size: 1.1em;
}

.player-currentsong-image {
    width: 30px;
    height: 30px;
}

#seekObj {
    width: 85%;
    background-color: #515151;
}

#seekObj[value] {
    -webkit-appearance: none;
    background-color: #515151;
    color: #1162b2;
    height: 7px;
    border-radius: 10px;
    cursor: pointer;
}

#seekObj[value]::-webkit-progress-bar {
    background-color: #c1c1c1;
    border-radius: 2px;
    border: 1px solid #818181;
    color: #113292;
}

#seekObj::-webkit-progress-value {
    background-color: #1162b2;
}

#song-made-by {
    display: inline-block;
    font-size: 0.8em;
    color: #818181;
    margin-bottom: 0;
}

#player-currentsong-currenttime, #player-currentsong-length {
    font-size: 0.8em;
    color: #c1c1c1;
}

#volume-slider {
    cursor: pointer;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: none; /* WebKit */
    width: 90px;
    height: 8px;
    position: absolute;
    left: 160px;
    bottom: 19px;
    border-radius: 3px;
    background: #818181;

    /*fix for FF unable to apply focus style bug
    border: 1px solid white;
    */
}

#volume-slider:focus {
    outline: none;
}

#volume-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 90px;
    height: 8px;
    background: #818181;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -4px;
    border: 1px solid #292e33;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c1c1c1;
    cursor: pointer;
}

#volume-control {
    cursor: pointer;
}

.selected-genre {
    background-color: #515151;
    font-weight: bold;
}

.sidebar-genre:not(.selected-genre):hover {
    background-color: #414141;
}

#next-button, #prev-button {
    cursor: pointer;
}

.player-inside {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.nav-item {
    list-style: none;
    padding: 20px 10px;
    color: #1182b2;
}

.nav-item a:hover {
    font-weight: bold;
}

.nav-item a, .nav-item a:hover, .nav-item a:active, .nav-item a:visited,
.navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited {
    text-decoration: none;
    color: #ffffff;
}


.navbar-brand {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 2em;
    color: #1182b2;
}

.navbar {
    margin-bottom: 0;
    background: #717171;
    box-shadow: 1px 1px #717171;
}

.navbar-right {
    padding-right: 30px; 
}

.form-container {
    text-align: center;
    margin-top: 100px;
    box-shadow: 3px 3px #717171;
    border-radius: 5px;
    width: 400px;
    border: solid 1px #717171;
    padding-bottom: 10px;
}

.form-group {
    padding: 5px 20px;
    width: 100%;
    border-radius: 15px;
    text-align: left;
    margin-bottom: 5px;
}

.form-submit {
    padding: 10px 35px;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-header {
    color: #515151;
}

.form-input {
    width: 100%;
}

#upload-link {
    float: left;
}

#genre-other {
    margin-top: 10px;
}

#cartitems {
    color: #e1e1e1;
}

.upload-button-container {
    width: 45%;
}

.added {
    border: solid 1px #1182b2;
}

.close {
    color: #414141;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#cart-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
    background-color: #c1c1c1;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    font-size: 1.2em;
    border-radius: 30px;
}

#modal-header {
    color: #1162b2;
    margin-bottom: 40px;
}

#cart-modal-table {
    width: 100%;
}

#cart-button {
    cursor: pointer;
    border: solid 2px #1182b2;
    border-radius: 100%;
    padding: 5px 5px;
}

#cart-modal-header tr th {
    text-align: center;
    color: #1162b2;
}

#cart-modal-header tr {
    margin-bottom: 20px;
    border-bottom: solid 2px #1162b2;
}

#cart-modal-songs {
    color: #515151;
}

#cart-modal-total-text {
    padding: 20px 30px;
    border-top: 2px solid #1162b2;
    color: #1162b2;
    font-size: 1.5em;
    width: 100%;
    text-align: left;
}

#cart-modal-total {
    float: right;
}

#modal-checkout {
    padding: 15px 30px;
    font-size: 1.3em;
    font-weight: bold;
}