body {
    background-color: #c1c1c1;
}

.welcome-img {
    width: 100%;
    height: 700px;
}

.welcome-container {
    padding: 0;
    width: 100%;
    text-align: center;
}

.player-container {
    padding-top: 80px;
    padding-bottom: 150px;
    text-align: center;
}

.player-inside {
    height: inherit;
    position: relative;
    width: 100%;
}

#musicplayer {
    border: 2px solid #1162b2;
    border-radius: 2px;
    background-color: #292e33;
    height: 700px;
    padding: 0;
}

.beatstoretext {
    font-size: 46px;
    color: #1162b2;
    padding: 20px 20px;
}

#cart-total {
    display: inline;
    font-size: 1.4em;
    color: #1182b2;
    padding-right: 10px;
}

.glyphicon-shopping-cart {
    color: #1182b2;
    display: inline;
    padding: 0 5px;
}

.player-header {
    background-color: #444444;
    padding: 12px 0;
}

#player-buynow {
    display: inline;
    background-color: #1182b2;
    color: #c1c1c1;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 10px;
    box-shadow: 0 2px #1162b2;
    border: none;
}

#player-buynow:focus {
    outline: 0;
}

#player-buynow:hover {
    background-color: #1162b2;
}

#player-buynow:active {
    box-shadow: 0 0 #113292;
    transform: translateY(2px);
}

.player-header-container {
    padding-left: 75px;
}

.player-controls {
    width:inherit;
    position: absolute;
    bottom: 4px;
    left: 15px;
    right: 0;
    background-color: #444444;
    border: 1px solid #515151;
    height: 50px;
}

.player-control {
    color: #c1c1c1;
    padding: 5px 10px;
}

.glyphicon-play {
    padding-top: 3px;
    font-size: 1.3em;
}

.player-buttons {
    text-align: left;
    padding-left: 10px;
    height: 100%;
    padding-top: 10px;
}

.player-body {
    height: 645px;
}

.controls-container {
    position: relative;
}

#genres-header {
    margin-bottom: 0;
    color: #c1c1c1;
    border-bottom: solid 1px #515151;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0;
}

.sidebar-genre {
    color: #c1c1c1;
    border-bottom: solid 1px #515151;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

.sidebar-genre-text {
    padding-top: 7px;
}

.player-sidebar {
    border-right: solid 1px #515151;
    height: 620px;
    box-shadow: 0 2px;
}

.playerbody-song {
    margin: 0;
    text-align: left;
}

.col-md-10 > .player-body-song-image {
    width: 25px;
    height: 25px;
    border: 1px solid #515151;
    padding: 0;
}

.glyphicon-plus {
    color: #818181;
    padding-top: 13px;
    padding-left: 15px;
}

.glyphicon-plus:hover {
    color: #c1c1c1;
}

.player-body-song-info {
    color: #818181;
    display: inline-block;
    padding-left: 5px;
    height: 100%;
    margin: 0;
}

.player-body-song-title {
    font-size: 1.1em;
}

.player-body-song-info-container {
    padding-left: 10px;
    display: inline-block;
    width: 92%;
}

.player-body-song-length {
    padding-left: 30px;
}

.player-body-song-length, .player-body-song-owner {
    float: right;
}

.player-body-song-left {
    padding: 10px;
}

#playerbody-song-proto {
    display: none;
}

.playerbody-song {
    width: 100%;
}

#player-main-body {
    padding: 0;
    height: 593px;
    max-height: 593px;
    overflow: auto;
}