<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="author" content="cybersoft">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Beatstreet</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="/js/genres.js"></script>
    <script src="/js/songs.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/dom.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
    <nav th:replace="navbar :: navbar-header(${user})">
    </nav>
    <div class="welcome-container container-fluid">
        <image class="welcome-img" src="images/header.jpg"></image>
    </div>
    <div class="container player-container">
        <h2 class="beatstoretext">BEAT STORE</h2>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="musicplayer">
                <div class="container player-inside">
                    <div class="row player-header">
                        <div sec:authorize="hasAuthority('ADMIN')" class="upload-button-container col-md-6">
                            <a href="/upload-song" id="upload-link">
                                <button class="btn btn-primary">Upload song</button>
                            </a>
                        </div>
                        <div class="player-header-container col-md-6 offset-md-7">
                            <p id="cart-total">$0.00</p>
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            <button class="btn btn-primary" id="player-buynow">Buy now</button>
                        </div>
                    </div>
                    <div class="row player-body">
                        <div class="col-md-4 player-sidebar container">
                            <div class="row">
                                <p id="genres-header">Genres</p>
                            </div>
                            <div class="row sidebar-genres-container">
                                <div th:each="genre : ${genres}" class="sidebar-genre">
                                    <p class="sidebar-genre-text" th:text="${genre}">Genre</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 player-main" id="player-main-body">

                        </div>
                    </div>
                    <div class="row player-controls">
                        <div class="player-buttons col-md-4">
                            <i class="player-control glyphicon glyphicon-fast-backward" id="prev-button"></i>
                            <i class="player-control glyphicon glyphicon-play" id="play-button"></i>
                            <i class="player-control glyphicon glyphicon-fast-forward" id="next-button"></i>
                            <i class="player-control glyphicon glyphicon-volume-up" id="volume-control"></i>
                            <input id="volume-slider" type="range" orient="vertical" min="0" max="100" value="50" step="1"/>
                        </div>
                        <div class="player-progress col-md-8">
                            <div id="player-currentsong">
                                <div class="player-currentsong-info-container container-fluid">
                                    <image class="player-currentsong-info player-currentsong-image" src="images/default-song-image.png"></image>
                                    <h3 class="player-currentsong-info player-currentsong-title">Title</h3>
                                    <p id="song-made-by">by</p>
                                    <p class="player-currentsong-info player-currentsong-owner">Owner</p>
                                </div>
                                <div class="player-currentsong-progress-container">
                                    <div class="audio-wrapper" id="audio-container">
                                        <audio src="http://www.lukeduncan.me/oslo.mp3" id="currentsong-audio" ontimeupdate="app.musicplayer.initProgressBar()">
                                        </audio>
                                    </div>
                                    <p class="player-currentsong-info" id="player-currentsong-currenttime">0:00</p>
                                    <span id="seekObjContainer">
                                      <progress id="seekObj" value="0" max="1"></progress>
                                    </span>
                                    <p class="player-currentsong-info" id="player-currentsong-length">0:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="playerbody-song row" id="playerbody-song-proto" hidden>
        <div class="col-md-10 player-body-song-left">
            <image class="player-body-song-info player-body-song-image" src="images/default-song-image.png"></image>
            <div class="player-body-song-info-container container-fluid">
                <h3 class="player-body-song-info player-body-song-title">Title</h3>
                <p class="player-body-song-info player-body-song-length">0:00</p>
                <p class="player-body-song-info player-body-song-owner">Owner</p>
            </div>
        </div>
        <div class="col-md-2">
            <i class="glyphicon glyphicon-plus"></i>
        </div>
    </div>
</body>
</html>