<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="cybersoft">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Beatstreet</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="/js/genres.js"></script>
    <script src="/js/songs.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
    <nav th:replace="navbar :: navbar-header(${user})">
    </nav>
    <div class="container form-container">
        <h2 class="form-header">Register</h2>
        <form class="registration-form" method="post" th:action="@{/register}" th:object="${user}">
            <div class="form-group">
                <label for="username">Username</label>
                <br />
                <input type="text" th:field="*{username}" name="username" id="username" class="form-input" required>
            </div>
            <br />
            <div class="form-group">
                <label for="email">Email</label>
                <br />
                <input type="text" th:field="*{email}" name="email" id="email" class="form-input" required>
            </div>
            <br />
            <div class="form-group">
                <label for="password">Password</label>
                <br />
                <input type="password" th:field="*{password}" name="password" id="password" class="form-input" required>
            </div>
            <br />
            <div class="form-group">
                <label for="pw-confirm">Confirm password</label>
                <br />
                <input type="password" name="pw-confirm" id="pw-confirm" class="form-input" required>
            </div>
            <input type="submit" class="form-submit" value="Register"><br />
            <a href="/login" id="login-link">Already have an account? Log in</a>
        </form>
    </div>
</body>
</html>